<h1>Encounters</h1>

<div class="container-fluid">

<% encounters.each do |encounter| %>

<div class="row">
  <p>
    <%= link_to encounter.name, edit_encounter_path(encounter) %>
    <%= bootstrap_form_for(encounter, url: encounter_combats_path(encounter), method: :post) do |f| %>
      <%= f.submit 'Start combat' %>
    <% end %>
  </p>
</div>

<% end %>

</div>
